html{
    scroll-behavior: smooth;
    overflow: auto;
}
* {
    box-sizing: border-box;
}
section{
    padding: 40px 0;
}
nav{
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%
}
.navbar{
    height: auto;
    background-color: rgb(53, 53, 53, 0.8);
    
}
.navbar ul{
    margin: 0 auto;
    letter-spacing: 2px;
    
}
.navbar li{
    list-style: none;
    text-align: center;
    display: inline-flex;
    
}
.navbar li a{
    color: whitesmoke;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase; 
    font-weight: bold;

    
}
.navbar li a:hover{
    border: solid 1px lightgray;
    
    
}
.navigation{
    background-color: darkgray;
}
header{
    padding: 10px 100px; 
    box-sizing: border-box;
    background-color: rgb(53, 53, 53, 0.8);
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 42px;
    color: white;
    display: flex;

    
}
header h1{
    line-height: 75px;
}
.bigContainer{
    background-color: black;
}

.container{
    margin-top: 0px;
    padding-top: 0px;
}

h1{
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    color: white
    
}

h3{
    font-size: 20px;
    font-weight: bold;
}
h4{
    font-size: 15px;
}
.card{
    background-color:rgb(0, 0, 0, 0);
    font-size: 16px;
    width: 100%;
    height: auto;
    margin: 10px auto;
    border: none;
    display: inline-block;
    color: white;
}
.card-title{
    font-size: 20px;
    text-align: center;
}
.profilePic{
    max-width: 300px;
    max-height: 300px;
    margin:10px auto;
}

.info{
    margin: 20px 0; 
    text-align: left;
}

.logo{
    height: 75px;
    width: 100px;
    display: inline-block;

}
.infoBox{
    margin: 0;
    overflow: auto;
}
.recipe-card{
    display:inline-block;
    width:200px;
    padding-top:10px;
    margin: auto  auto;
}
.card-img{
    max-width: 200px;
    max-height: 200px;
    margin: 0 auto;
}
.recipe-link{
    color: black
}

/* This must come after .card in this css file */
.search-card{
    display: inline-block;
    background-color: rgba(169, 169, 169, 0.383);
    margin-top:20px;
}

hr{
    border-color: whitesmoke;
}

#createaccountbutton, #createUserButton {
    width: 140px;
}
.display-recipes{
    overflow-y: auto;    
    margin: 20px auto;
    padding: 100px 10px;
}

.btn1{
    margin: 0 auto;
    width: 75%;
}

.dietButtons {
    width: 150px;
    height: 65px;
    border-radius: 5px;
}
/* #about{
    padding-top: 100px;
    margin: 0 10px;
} */
.us{
    margin: 0 20px;
    color: whitesmoke;
    background-color: rgba(169, 169, 169, 0.383);
    padding: 20px;
    ;
}
.slide{
    margin-top: 0;
}
.extra-margin{
    margin: 0px 0px 20px 0px;
}
.newSearch{
    margin: 0 auto;
}

td{
    color: whitesmoke;
}
.header-title{
    color: whitesmoke;
}
#results{
    color: whitesmoke;
    
}
.workoutTitle{
    background-color: white;
    color: black;
    padding: 10px 20px;
}
.workoutCard{
    display: block;
    background-color: rgba(169, 169, 169, 0.383);
    padding: 10px 20px;
}
/* .btnNav{
    background-color: rgba(0,0,0,0.8);
    position: sticky;
    top: 50px;
    z-index: 999
} */
